EIO:CFG_1.0:6:1::
#
INDUSTRIAL_NETWORK:

      -Name "DeviceNet" -Label "DeviceNet Master/Slave Network" -Address "2"
#
DEVICENET_DEVICE:

      -Name "MiDeviceNet"
#
DEVICENET_INTERNAL_DEVICE:

      -Name "DN_Internal_Device" -VendorName "ABB Robotics"\
      -ProductName "DeviceNet Internal Slave Device"
#
EIO_SIGNAL:

      -Name "ED_Sennal" -SignalType "DI" -Device "MiDeviceNet"\
      -Label "ED_Sennal" -DeviceMap "0" -Access "All"

      -Name "ED_Sennal_StopMove" -SignalType "DI" -Device "MiDeviceNet"\
      -Label "ED_Sennal_StopMove" -DeviceMap "1" -Access "All"

      -Name "SD_Interrupcion" -SignalType "DO" -Device "MiDeviceNet"\
      -Label "SD_Interrupcion" -DeviceMap "0" -Access "All"
